@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.description-container{
    max-width: 1200px;
    margin: 20px auto 40px;
    margin-top: 30px;
}

.description-container  .floating-image{
    max-width: 610px;
    width: 100%;
    height: 60vh;
    padding: 50px;
    align-items: center;
}

.description-container .floating-image.left{
    float: right;
    margin-left: 30px;
    justify-content: space-between;
    margin-bottom: 10px;

}

.description-container .floating-image.left h3{
    font-size: 20px;;
    font-style: oblique;
    margin-left: 50px;
}

.description-container  .floating-image.right{
    float: left;
    margin-left: 30px;
    margin-bottom: 10px;
    
}

.description-container p{
    text-align: justify;
    margin-bottom: 40px;
    margin-top: 10px;
    justify-content: space-between;
  
}

.description-container h3{
    font-size: 20px;;
    font-style: oblique;
    margin-left: 50px;
   
}
.description-container p h3{
    align-items: center;
    float: left;
}




